body {
  background-color: #fffdfe;
}

.image {
  text-align: left;
}

.carousel {
  width: 100%;
}

#logo {
  color: #ffb11b;
}

/*------navbar------*/
.nav-bottom {
  margin-top: 90%;
}
.navbar {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none; /* 移除点击后的边框阴影 */
}

.navbar-toggler:hover {
  background-color: #e2e1d6;
}

.navbar-toggler svg rect {
  fill: #ffb11b;
}

.btn-close:focus {
  outline: none;
  box-shadow: none;
}

.btn-close:hover {
  background-color: #e2e1d6;
}

svg path:nth-of-type(2) {
  fill: #ffb11b;
}

svg path:nth-of-type(3) {
  fill: #ffb11b;
}

svg path:first-of-type {
  fill: #ffb11b;
}

svg {
  color: #ffb11b;
}

#profile-email {
  margin-top: 10px;
  font-size: 18x;
}

.nav-item-flex svg {
  margin-right: 5px;
  margin-left: -3px;
}

#mypost {
  margin-top: 20px;
}

.nav-link:hover {
  color: #ffb11b;
}

hr {
  color: #ffb11b;
  margin-top: 3px;
  width: calc(100% - 50px);
}

#logout-display {
  position: fixed;
  bottom: 30px;
}

#mypost,
#logout-display {
  display: flex;
  align-items: center; /* 垂直居中对齐 */
}


/* 加号旋转 45 度 */
.plus-icon {
  transform: rotate(90deg);
}

/*------post-card------*/
.post-card {
  margin-bottom: 20px;
  cursor: pointer;
  border: 1px solid #ece7c0;
  border-radius: 10px;
  padding: 20px;
  background-color: #faf9f0;
  transition: box-shadow 0.3s ease-in-out;
  width: calc(100% - 16px); /* 计算总宽度 */ 
  max-width: auto;
  height: auto; 
  top: auto; /* 移除固定的定位属性 */
  left: auto; /* 移除固定的定位属性 */
  margin-left: 8px; 
  margin-right: 8px; 
}

.post-card:hover {
  box-shadow: 0 4px 8px rgba(93, 62, 7, 0.1);
}


/*------postcard-author------*/
.post-title {
  /* 标题样式 */
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.author-info {
  /* 作者信息容器样式 */
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: -8px;
}

.author-avatar {
  /* 作者头像样式 */
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-top: -19px;;
  margin-left: 2px;
}

.author-details {
  /* 作者名字和发布时间容器样式 */
  margin-left: 8px; /* 调整名字和时间距离头像的间距 */
}

.author-name{
  margin-bottom: 2px;
}
.author-name, .post-time {
  /* 作者名字和发布时间样式 */
  font-size: 0.75rem;
  color: grey;
  display: block; /* 确保名字和时间显示在不同行 */
}



