body {
  background-color: #FFFDFE;
}


.image {
  text-align: left;
}

.carousel {
  width: 100%;
}

#logo{
  color: #FFB11B;
}

/*------navbar------*/
.nav-bottom {
  margin-top: 90%;
}
.navbar {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
}

.navbar-toggler{
  border: none;

}

.navbar-toggler:focus {
  outline: none; 
  box-shadow: none; /* 移除点击后的边框阴影 */
}

.navbar-toggler:hover {
  background-color: #e2e1d6; 
}

.navbar-toggler svg rect {
  fill: #FFB11B; 
}


.btn-close:focus {
  outline: none; 
  box-shadow: none;
}

.btn-close:hover{
  background-color: #e2e1d6; 
}

svg path:nth-of-type(2) {
  fill: #FFB11B;
}

svg path:nth-of-type(3) {
  fill: #FFB11B;
}

svg path:first-of-type {
  fill: #FFB11B; 
}


svg{
  color:#FFB11B
}

#profile-email {
  margin-top: 10px;
  font-size: 18x;
}

.nav-item-flex svg {
  margin-right: 5px;
  margin-left: -3px;
}

#mypost{
  margin-top: 20px;
}

.nav-link:hover {
  color: #FFB11B
}

hr{
  color: #FFB11B;;
  margin-top: 3px;;
  width: calc(100% - 50px); 

}

#logout-display {
  position: fixed;
  bottom: 30px;
}



.post-card {
  margin-bottom: 20px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  background-color: #f8f9fa;
  transition: box-shadow 0.3s ease-in-out;
  width: 100%; /* 使用相对单位，使卡片宽度自适应屏幕大小 */
  max-width: auto; 
  height: auto; /* 自适应高度 */
  top: auto; /* 移除固定的定位属性 */
  left: auto; /* 移除固定的定位属性 */
  gap: 0px; /* 不再需要间隙 */
  opacity: 1; /* 移除透明度 */
}

.post-card:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
}

.post-thumbnail {
  width: 100px; 
  height: auto; 
  float: right;
  margin-left: 15px;
}

.nav-item-flex{
  display: inline-flex;
  align-items: center;
}



/* 加号旋转 45 度 */
.plus-icon {
  transform: rotate(90deg);
}
