/* CSS for the parent container of the button */
.parent-container {
    display: flex;
    justify-content: center; /* This centers the button horizontally */
  }
  
/* 确保 navbar 固定在顶部 */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* 高 z-index 确保 navbar 在其他内容上方 */
}

/* 旋转 */
.plus-icon {
    transform: rotate(45deg);
}
  
/* 为 body 设置足够的上边距，以防止内容被遮挡 */
body {
    padding-top: 70px; /* 根据实际的 navbar 高度调整这个值 */
}

/* 调整发帖表单的样式，确保它居中并有足够的间距 */
#postForm {
    margin-top: 20px; /* 这个值根据需要进行调整 */
    margin-left: auto;
    margin-right: auto;
    width: 80%; /* 或者根据设计稿的宽度来设置 */
}

/* 发帖输入框的样式 */
#titleInput {
    border: none;
    border-bottom: 1px solid #777E90; /* 灰色分割线 */
    margin-bottom: 20px; /* 分割线和文本区域之间的间隔 */
    width: 100%; /* 完整宽度 */
}

/* 文本区域的样式 */
#contentInput {
    border: none;
    width: 100%; /* 完整宽度 */
    min-height: 150px; /* 设置最小高度 */
}

#titleInput:focus, #contentInput:focus {
    outline: none;
}

/* Updated CSS for postButton */

#postButton {
    position: fixed; /* 固定位置 */
    bottom: 0; /* 在底部 */
    left: 0; /* 从左侧开始 */
    width: 100%; /* 宽度为100% */
    max-width: none; /* 移除最大宽度设置 */
    height: 48px; /* 高度设置为48px */
    border-radius: 0; /* 移除圆角 */
    font-size: 15px;
    background-color: #333;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; /* 确保按钮在其他内容之上 */
}


#postButton:hover {
    background-color: #FFB11B;
    color: white;
}
